@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./assets/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./assets/fonts/Saira-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('./assets/fonts/Saira-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

body {
  @apply bg-slate-950;
}
