@tailwind base;
@tailwind components;
@tailwind utilities;

/* import src/assets/fonts/Comfortaa-VariableFont_wght.ttf as a font to use */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./assets/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

body {
  @apply bg-slate-950 text-white;
}
